<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <h4>Le visiteur au nom de {{ nom }} a envoyé le message suivant depuis le site web de sodigaz</h4><br><br>
    <p>
        {{ message }}
    </p>    
</body>
</html>